.container{
  width: 100%;
  min-height:100px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.container::-webkit-scrollbar{
  display: none;
}

.bg-container{
  background-color:rgb(68, 66, 66) ;
  width:100%;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow:hidden;
}

.box{
  width: 250px;
  height:150px;
  margin-right:20px;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  background-color: #fff;
}

.box:first-child{
  margin-left: 20px;
}

.btn{
  width:160px;
  height: 45px;
  border-radius: 6px;
  color: #fff;
  background-color: rgb(80, 75, 75);
  border: 1px solid rgb(80, 75, 75);
  font-weight: 600;
}

.btn:hover{
  border-color: rgb(112, 112, 112);
  background-color: rgb(112, 112, 112);
}

.loader{
  width:40%;
  height:40px;
}